# dependencies
node_modules/

# builds
.next/
dist/
out/
build/
*.tsbuildinfo
next-env.d.ts

# generated service worker
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/swe-worker-*.js

# turbo
.turbo/

# tests
coverage/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editors
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
